.Setting {
  font-size: 2rem;
  color: white;
  min-width: 320px;
  max-width: 320px;
  position: fixed;
  right: 0;
  background-color: gray;
}

.boxPresent {
  height: 200px;
  width: 200px;
  display: flex;
  margin: auto;
  -webkit-box-shadow: 4px 7px 29px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 7px 29px 0 rgba(0,0,0,0.75);
  box-shadow: 4px 7px 29px 0 rgba(0,0,0,0.75);
}

.boxPresent__text {
  font-size: 3rem;
  margin: auto;
}