.PlanBox {
  padding: 0;
  margin: auto;
  width: 60vh;
  height: 60vh;
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 310px) {
  .PlanBox {
    width: 310px;
    height: 310px;
  }
}